.swiperr {
  width: 50%;
  height: 280px;
  background: transparent;
}

.swiper-sliderr {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.card-bg {
  background: url("/Users/goncalocravo/Desktop/Coding/Projects/homebanking-app/frontend/src/assets/card.png");
  background-size: cover;
  object-fit: cover;
}

.swiper-slide-prev {
  opacity: 0;
}

.swiper-slide-next {
  opacity: 0;
}

.card-swiper h1 {
  margin-bottom: 70px;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: start;
}
.card-user-info {
  width: 250px;
}

.card-user-info h2 {
  font-size: 0.9rem;
  text-align: start;

  font-weight: 500;
}

.card-user-info span {
  font-weight: bold;
}
