.card-container {
  height: 90%;
  width: 35%;
  background-color: rgba(44, 43, 43, 0.5);

  --swiper-navigation-sides-offset: 5px;
  --swiper-navigation-size: 30px;
  --swiper-navigation-color: red;
  --swiper-pagination-color: red;
  --swiper-pagination-bottom: 5px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
  -ms-interpolation-mode: bicubic;
  border-radius: 10px;
  padding: 20px 30px;
}

.card-info {
  margin-bottom: 20px;
}

.card-info {
  font-size: 1.3rem;
}

.card-user-info {
  margin-top: 40px;
  font-size: 0.8rem;
}
.card-user-info h1 {
  font-size: 0.9rem;
}
.card-user-info span {
  font-weight: bold;
}
