.mySwiper {
  background-color: white;
  box-shadow: 5px 5px 10px 5px rgba(81, 80, 80, 0.5);
  border-radius: 10px;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: red;
  --swiper-pagination-color: red;
  --swiper-pagination-bottom: 10px;
}

.slider-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.slider-tittle {
  display: inline-block;
  margin: 0;
}

.slider-img {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.slider-img img {
  margin: 0;
  object-fit: cover;
  height: 500px;
  width: 800px;
  clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0 100%, 7% 62%);
}
