.operation {
  height: 150px;
  width: 100%;
  margin-bottom: 30px;
}

.position-first {
  grid-column-start: 2;
  grid-row-start: 1;
  align-self: center;
}
.position-second {
  grid-column-start: 2;
  grid-row-start: 2;
  align-self: center;
}
.position-third {
  grid-column-start: 2;
  grid-row-start: 3;
  align-self: center;
}
.position-fourth {
  grid-column-start: 2;
  grid-row-start: 4;
  align-self: center;
}
