.home-slider {
  height: 100vh;
  width: 100%;
  position: relative;
  background: linear-gradient(
      to bottom,
      rgba(218, 165, 32) 0%,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0) 80%,
      rgba(218, 165, 32) 100%
    ),
    url("/Users/goncalocravo/Desktop/Coding/Projects/homebanking-app/frontend/src/assets/money.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home-title {
  position: relative;
  height: 100px;
  letter-spacing: 1.5rem;
}

.home-title h1 {
  position: absolute;
  margin-top: 100px;
  color: white;
  font-size: 64px;
  font-weight: 800;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.slider {
  height: 60vh;
  width: 80vw;
  padding: 0;
  margin: 200px auto;
}
