.user {
  height: 100px;
  width: 100%;
  margin: 0 auto;
}
.user-image {
  height: 150px;
  width: 40%;
}

.user-info {
  height: 100%;
  display: flex;
  font-size: 22px;
}

.user-info img {
  height: 100%;
  width: 40%;
  margin: 0 30px;
}

.user-info span {
  font-weight: bold;
}

span.date {
  font-weight: 500;
  font-size: 15px;
}

.information {
  width: 30%;
}

.info {
  width: 100%;
  text-align: center;
  flex-direction: column;
  padding: 20px;
}
