.user {
  grid-row: span 3;
  grid-column-start: 2;
  grid-row-start: 2;
  height: 350px;
  width: 250px;
  margin: 0 auto;
}
.user-img img {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.user-info {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 15px;
}

.user-info span {
  font-weight: bold;
}
