.login {
  height: 70vh;
  width: 100%;
  background-color: rgba(227, 242, 253);
  padding: 200px 0 0 0;
}

.login-area {
  position: relative;
  background: linear-gradient(
      to bottom,
      rgba(227, 242, 253) 0%,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0) 80%,
      rgba(227, 242, 253) 100%
    ),
    url("/Users/goncalocravo/Desktop/Coding/Projects/homebanking-app/frontend/src/assets/coins.png");
  background-size: fit;
  background-repeat: space;
}

.footer-login {
  height: 33.5vh;
  padding: 230px 0 0 0;
  background-color: rgba(227, 242, 253);
}
