.login-area {
  height: 70vh;
  width: 100%;
}

.login {
  margin-top: 200px;
}

.footer-login {
  margin-top: 213px;
}

.login-block {
  position: fixed;
  height: 200%;
  width: 100%;
  background-color: black;
  top: -100%;
  right: -74%;
  transform: rotate(-30deg);
  z-index: -1;
}
